.beginningForm, .center-wrapper{
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;

}

.rezultatas{
    position: absolute;
    top: 30px;
    left: 30px;
    
}